/*MEDIA AND ASSETS*/
@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*MAIN*/
.sfPro {
  font-family: 'SF Pro Display';
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 12px;
}
.App {
  margin: -1px;
}

/*HEADER*/
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.5px solid rgb(211, 211, 211);
  max-height: 50px;
}
.hdrHead {
  margin: 20px 0 20px 10px;
  padding: 0 5px 0 5px;
  font-family: 'SF Pro Display';
  font-weight: bolder;
  letter-spacing: 1.25px;
}

/*FORM*/
.formRow {
  display: flex;
  align-items: center;
}
.formLabel {
  padding: 25px 25px 25px 5px;
  margin-left: 0;
}

#formLabel1 {
  padding-right: 45px;
}
#formDropdown {
  color:grey;
}
/*Rating*/
.rate {
  float: right;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) >label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
/*The above was modified from: https://github.com/mukulkant/Star-rating-using-pure-css */